[submodule "docs/mod/ice-and-fire-ce"]
	path = docs/mod/ice-and-fire-ce
	url = https://github.com/IAFEnvoy/IAF-Docs.git
[submodule "docs/mod/avaritia"]
	path = docs/mod/avaritia
	url = https://github.com/Nova-Committee/Avaritia-Docs.git
[submodule "docs/mod/origins"]
	path = docs/mod/origins
	url = https://github.com/IAFEnvoy/Origins-Docs.git
	branch = main
